alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.6.0
breathe==4.10.0
certifi==2018.10.15
chardet==3.0.4
cryptography==2.1.4
docutils==0.14
enum34==1.1.6
idna==2.6
imagesize==1.1.0
ipaddress==1.0.17
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
packaging==18.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.3.0
pytz==2018.7
pyxdg==0.25
requests==2.20.0
SecretStorage==2.3.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-contentui==0.2.2
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urllib3==1.24
